/*common styles*/
.primary-description{
    font-size:1.1rem ;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 30px;
}
.primary-header{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}
.primary-btn{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
padding: 21px 40px;
gap: 10px;
border: 0px;
}
/*nav section styles*/
nav {
    padding: 20px 200px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li{
    list-style: none;
    padding-right: 34px;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    padding:16px 10px ;
    
}
.icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
nav li img{
    border-radius: 10px;
}
#gamer{
    color: #FF42A5;
}
/*play section styles*/
.play-container{
    padding-left:220px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    width: 100%;
}
.play-head{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    margin-bottom:0px ;
    margin-top: 100px;
}
.play-header{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 24px;
}
.play-text{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}
.play-section{
    display: flex;
    justify-content: space-between;
}
.play-img{
    width: 100%;
}
/*gamer section styles*/
.gamer{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 240px;
    text-align: right;
    
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}
.gamer-text{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 0px;
}
.gamer-des{
    color: #534C64;
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
margin-bottom: 0px;
}
.gamer-img{
    width: 100%;
}
/*funny section styles*/
.funny-section{
   text-align: center;
   padding:100px 200px ;
}
.funny-header{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.funny-img-container{
    display:flex;
    gap: 24px;
}
.funny-img{
    width: 100%;
}
.funny-text{
    width: 244px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
/*any section styles*/
.any-section{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    
}

.any-text-container{
    padding-top: 200px;
}
.any-small-img{
    border-radius: 8px;
    position: relative;
    left: 530px;
    bottom: 240px;
}
/*game section styles*/
.game-container div, 
.game-container-two div{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    width: 231px;
    height: 80px;
    justify-content: center;
}
.game-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-container div:hover, 
.game-container-two div:hover{
   border:1px solid #F948B2;
   color:#F948B2;
}



.game-container,
.game-container-two{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.game-container{
    padding: 100px 100px 0px 100px;
    margin-bottom: 50px;
}
.game-container-two{
    padding: 0px 120px 100px 100px;
    
}


.any-text-container {
    padding-top: 0px}
/*footer section styles*/
   footer{
    background: #0B0223;
   
   }
.footer-section{
    display: block;
    width: 1920px;
    height: 636px;
}
   .footer-title{
    color: #FFF;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
padding-left: 20px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li{
    color: #FFF;
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
padding-right: 50px;
margin-bottom: 60px;
list-style: none;
}
footer ul li a img{
    width: 57.13px;
    height: 40px;
    border-radius: 25px; 
}
.footer-text{
    color: rgba(255, 255, 255, 0.60);
font-family: Work Sans;
text-align: center;
justify-content: center;
align-items: center;
font-size: 16px;
font-weight: 500;
border: 1px solid;
border-image: linear-gradient(to right,transparent,rgba(128, 128, 128, 0.438),transparent);
border-left: 0px;
border-right: 0px;
border-image-slice: 1;
padding-top: 40px;
}
.text{
    padding-bottom: 40px;
}
/*responsive for small devices*/
@media screen and (max-width:576px) {
    .nav-container,
    nav ul,
    .gamer,
    .funny-img-container,
    .any-section,
    .game-container,
    .game-container-two,
    footer ul{
        flex-direction: column;
    }
    nav{
        padding: 0px;
    }
    nav li{
        margin-top: 30px;
    }
    .play-container{
        padding-left:8px;
    }
    .play-section{
        flex-direction: column-reverse;
    }
    .gamer-img,
    .play-img{
        width: 100%;
        padding: 0px;
    }
    .gamer{
        padding: 0px;
        text-align: center;
    }
    .funny-section {
        padding: 100px 34px;}
    .funny-text{
        text-align: center;
        align-items: center;
    }
    
    .any-section img{
        padding: 0px;
    }
    #any-big-img{
        width: 100%;
    }
    .any-section{
        padding: 30px;
    }
    .any-img{
        padding-left: 0px;
    }
    .any-text-container{
        text-align: center;
    }
    .any-small-img{
        position: static;
        width: 200px;
    }
}
/*resposive for medium devices*/
@media  screen and (min-width:576px) and (max-width: 996px) {
    .nav-container,
    nav ul,
    .gamer,
    .funny-img-container,
    .any-section{
        flex-direction: column;
    }
    nav li{
        margin-top: 30px;
    }
    .play-section{
        flex-direction: column-reverse;
    }
    .gamer-img{
        width: 100%;
    }
    .play-container,
    .play-img{
        padding: 0px;
    }
    .any-text-container{
        text-align: center;
    }
    .game-container, .game-container-two{
        flex-direction: column;
    }
    .any-img{
        width: auto;
        
    }
    .any-small-img{
        align-items: first baseline;
        position: relative;
        left: 50px;
    }
    .any-section{
        padding: 0px;
    }
}